@import '../../styles/variables';

.invest-button {
  border: none;
  border-radius: 5px;
  background: $secondary-color;
  color: #ffffff;
  font-size: 20px;
  font-family: $primary-font;
  padding: 10px 30px;
}
