@import 'variables';
@import 'mixins';
@import 'reset';
@import 'base';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.app {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.header {
  @include flex-center;
  background: #238b96;
  box-shadow: $shadow;
  height: 120px;
  padding: 0 100px;
  padding-top: 20px;

  h1 {
    font-weight: 600;
    margin: 0 20px;
    font-family: Montserrat;
    letter-spacing: 1px;
    color: #ffffff;
  }

  hr {
    flex: 1;
    border: none;
    border-top: 1.5px solid #ffffff;
  }
}

.projects_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 60px 30px;
  justify-items: center;
  margin-top: 40px;
  padding: 20px 100px;
}

@media (max-width: 600px) {
  .projects_container {
    margin-top: 30px;
    gap: 30px;
    padding: 30px 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
