@import 'variables';
@import 'mixins';
@import 'reset';
@import 'base';

.app {
    width: 100%;
    margin: 0 auto; 
    overflow-x: hidden; 
    padding: 60px;
}
.projects_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}
